@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Gochi+Hand&display=swap");

* {
  box-sizing: border-box;
}

h1,
p {
  margin: 0;
}

input,
button {
  font: inherit;
}

body {
  margin: 0;
  font-family: "Gochi Hand", cursive;
  font-size: 1.25rem;
  font-weight: 400;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f2994a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f2c94c,
    #f2994a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f2c94c,
    #f2994a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
